body {
	margin-top: 0px;
	background: #34495e;
	font-family: 'Questrial', sans-serif;
	font-size: 12pt;
}

h1, h2, h3 {
	color: #ffffff;
}

a {
	color: blue;
}

#header {
	background: #34495e;
	text-align: center;
}

#menu {
	border-right: 300px solid #34495e;
	height: 60px;
}

#menu li {
	display: inline-block;
}

#menu li {
	color: #ffffff;
	font-size: 0.90em;
	font-weight: 600;
	line-height: 60px;
	padding: 0em 1.5em;
	text-transform: uppercase;
}

#menu li:hover, #menu li.active {
	background: #ffffff;
	border-radius: 10px 10px 0px 0px;
	color: #34495e;
}

#content-pane {
	display: flex;
}

#content {
	background: #ffffff;
	border-radius: 25px 0px 0px 25px;
	float: left;
	padding: 1em 1em 1em 1em;
	width: 200%;
}

#links {
	background: #ffffff;
	border-left: 20px solid #34495e;
	border-radius: 0px 25px 25px 0px;
	float: right;
	padding: 25px 25px 25px 25px;
}

.article {
	padding-top: 20px;
}

#comments-form textarea{
	margin-top: 5px;
	resize: none;
	width: 30%;
}

#comments-form input{
	width: 30%;
}

.image {
	text-align: center;
}